<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'app/create_page.css' %}">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시글 작성</title>
</head>

<body>
  <div class="page-wrapper">
    <div class="page-container">
      <img src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/3/new-york-city-skyline-panorama-david-desrochers.jpg" alt="newyork manhattan" width="900" height="auto">
      <br>
      <br>
      <a class="btn" href="{% url 'list_page' %}">Back</a>
      <br>
      <br>
      <div class="content-container">
      <form method="POST">
      {% csrf_token %}
        <label for="title">Title</label>
        <br>
        <input id="title" name="title" placeholder="제목을 입력하새요">
        <br><br>
        <label for="content">Content</label>
        <br>
        <textarea id="content" name="content" placeholder="내용을 입력하세요"></textarea>
        <br>
        <button type="submit">Submit</button>
      </form>
      </div>
    </div>
</body>

</html>