<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'count.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,700&display=swap" rel="stylesheet">
    <title>Letter Counter</title>
</head>
<body>
    <div id="container">
        <p id="title">letter Counter</p>
        <p id="title_k">글자수세기</p>
        <form action="{% url 'result' %}" method="post">{% csrf_token %}
            <textarea name="text" cols="60" rows="23" placeholder="Paste or type your text in this box"></textarea>
            <br />
            <br>
            <input type="submit" value="Submit" id="button"/>
        </form>
    </div>
    <p id="producer">Copyright 2022. Myunghoon all rights reserved.</p>
</body>
</html>